<section>
  <div class="container">
    <div id="contents">
      <h1>Reactive Form</h1>

      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label for="">
          First Name:
          <input type="text" formControlName="firstName">
        </label>
        <br>
        <label for="">
          Last Name:
          <input type="text" formControlName="lastName">
        </label>
        <br>
        <br>
        <div formGroupName="address"></div>
        <label for="">
          City:
          <input type="text" formControlName="city">
        </label>
        <br>
        <label for="">
          State:
          <input type="text" formControlName="state">
        </label>

        <br> <br>
        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
      </form>
    </div>
  </div>
</section>
